---
pagination:
    data: gallery
    size: 1
    alias: galerie
permalink: "ausstellungen/the-erratic-universe-of-yona-friedman/galerie/{{galerie[0] | slug }}/"

layout: base.njk
changeFreq: yearly



---

{% include "gallery_detail.njk" %}
