---

layout: base.njk

---

<section>

<h1> {{artists}}: {{title}}</h1>

  {{ content | safe }}

</section>

<section>

<!-- Galerie -->

{%- for i in gallery -%}

<a href="/ausstellungen/{{slug}}/{{i}}"><img class="teaser_image" src="/assets/pics/{{i}}.jpg"/></a>

{%- endfor -%}


</section>

<section>

<!-- Texte -->

</section>
