---

layout: base.njk

---

<section id="exhibition_text">

<h1> {{artists}}: {{title}}</h1>

  {{ content | safe }}

</section>

<section id="exhibition_gallery">

<!-- Galerie -->

{%- for i in gallery -%}

<a href="/ausstellungen/{{slug}}/{{i}}"><img class="gallery_image" src="/assets/pics/{{i}}.jpg"/></a>

{%- endfor -%}


</section>

<section>

<!-- Texte -->

</section>
