---

layout: base.njk

---

<section id="exhibition_info">

<h1>{{title}}</h1>
<p><strong>{{subtitle}}</strong></p>
<p><strong>{{time}}</strong></p>
<p><strong>{{openingtime}}</strong></p>
</section>

<section id="exhibition_text">


  {{ content | safe }}

</section>

<section id="exhibition_gallery">

<!-- Galerie -->

{%- for i in gallery -%}

<a href="/ausstellungen/{{slug}}/{{i}}"><img class="gallery_image" src="/assets/pics/{{i}}.jpg"/></a>

{%- endfor -%}


</section>
