<footer>

  <address>
  <p>off_gallery graz<br/>
  Griesgasse 31, 8020 Graz</p>
  <ul>
    <li><a href="/allgemein/impressum" title="Impressum">Impressum</a></li>
    <li><a href="/allgemein/mitglied-werden" title="Über uns">Mitglied werden</a></li>
    </ul>
    </address>

  <div id="opening-times">
  <p>Öffnungszeiten:<br>
  Di, Mi, Do 11:00-13:00, 15:00-18:00<br/>
  (während der Ausstellungen)</p>
  </div>
  <section id="socialmedia_links">

<ul>
<li><a href="http://eepurl.com/gvOSB5"><img src="/assets/pics/email.svg"/>Newsletter bestellen</a></li>
    <li><a href="https://www.instagram.com/off_graz/" title="Instagram"><img src="/assets/pics/instagram.svg"/>Instagram</a></li>
    <li><a href="https://www.facebook.com/offgallerygraz/" title="Facebook"><img src="/assets/pics/facebook.svg"/>Facebook</a></li>
    <li><a href="/feed.xml" title="RSS-Feed"><img src="/assets/pics/rss.svg"/>RSS</a></li>
    </ul>

    </section>
</footer>
