<nav>
  <ul>
    <li>
      <a href="/"><img id="site_logo" src="/assets/pics/logo_offgallery.svg" alt="Logo der off_gallery">
      <span>off_gallery graz</span></a>
    </li>
    <li>
      <a href="/ausstellungen"><img src="/assets/pics/off_icon_ausstellungen.svg" class="nav_logo" alt="Icon: Ausstellungen">Ausstellungen</a>
    </li>
    <li>
      <a href="/blog"><img src="/assets/pics/off_icon_news.svg" class="nav_logo" alt="Icon: News">Blog</a>
    </li>
    <li>
      <a href="/allgemein/ueber_uns"><img src="/assets/pics/off_icon_wir.svg" class="nav_logo" alt="Icon: Über uns">
        Über uns</a>
    </li>
  </ul>
</nav>
