---
layout: base.njk

---

<article>


<figure>

<div id="photos">

{%- for i in gallery -%}

<img src="/assets/pics/{{i}}.jpg"/>

<!--
<p class="credits">
<small>Rechte: {{rights}}</small>
</p>
-->



{%- endfor -%}



</div>



<h1>{{artist}}: {{title}}</h1>


<figcaption>
{{ content | safe }}
</figcaption>



</figure>

</article>
