---

layout: base.njk
changeFreq: monthly

---

<section id="series_info">
{{ image | renderPicture() | safe }}


<h1>{{title}}</h1>

<h2>{{subtitle}}</h2>

</section>


<section id="running_text">


  {{ content | safe }}

</section>

<section class="slideshow">

<!-- Galerie -->

{%- for i in gallery -%}

<a href="/{{slug}}/galerie/{{i[0]}}"><img class="slideshow__image" src="/assets/pics/{{i[0]}}_360px.jpg" alt="{{i[1]}}"/></a>

{%- endfor -%}


</section>
