---
layout: base.njk

---

<article>


<figure class="single_picture" itemscope itemtype="http://schema.org/ImageObject">

<img srcset="/assets/pics/{{picture}}_180px.jpg 180w,
             /assets/pics/{{picture}}_360px.jpg 360w,
             /assets/pics/{{picture}}_720px.jpg 720w,
              /assets/pics/{{picture}}_1080px.jpg 1080w,
              /assets/pics/{{picture}}_1440px.jpg 1440w"

              sizes="(max-width: 1728px) 70vw, 1440px"

                src=""/assets/pics/{{picture}}_1440px.jpg 1440w" alt="{{title}}" itemprop="contentUrl"
/>

<figcaption>
<span itemprop="author">{{artist}}</span>: <span itemprop="name">{{title}}</span>. Rechte: <span itemprop="rights">{{rights}}</span>
</figcaption>

</figure>







<h1>{{artist}}: {{title}}</h1>


<figcaption>
{{ content | safe }}
</figcaption>



</figure>

</article>
