---
layout: base.njk

---






{%- for ausstellung in collections.ausstellung_aktuell -%}

<section id="ongoing" style="background: url('/assets/pics/{{ausstellung.data.image}}_1080px.jpg') no-repeat center bottom scroll;
background-size: cover;">
<div id="teaser">
<h3> <a href="{{ausstellung.url}}">{{ausstellung.data.artists}}: {{ausstellung.data.title}}</a></h3>
<p id="cover">{{ ausstellung.data.teaser }} <a href="{{ausstellung.url}}">Weiterlesen...</a> </p>
</div>
</section>

{%- endfor -%}






<section id="exhibitions">

<h2>Frühere Ausstellungen</h2>





{%- for ausstellung in collections.ausstellung -%}
<img class="teaser_image" src="/assets/pics/{{ausstellung.data.image}}.jpg"/>
<a href="{{ausstellung.url}}">{{ausstellung.data.title}}</a>
<p>{{ ausstellung.data.teaser }} </p>
{%- endfor -%}


</ul>

</section>

<section id="events">

<h2>Save the date</h2>

{%- for news in collections.news | reverse -%}

<h3>{{news.data.title}}</h3>
<p>{{news.data.teaser}}</p>
<p><a href="{{news.url}}">Weiterlesen...</a></p>


{%- endfor -%}


</section>

<section id="about">

<h2>Über die Galerie</h2>

  {{ content | safe }}

</section>
