---
pagination:
    data: gallery
    size: 1
    alias: galerie
permalink: "/ausstellungen/2019/wir-bauen-eine-stadt/galerie/{{galerie[0] | slug }}/"

layout: base.njk
changeFreq: yearly



---

{% include "gallery_detail.njk" %}
