---

layout: base.njk
changeFreq: monthly

---

<section id="exhibition_info">
{{ image | renderPicture() | safe }}


<h1>{{artists}}: {{title}}</h1>
<p><strong>{{subtitle}}</strong></p>
<p><strong>{{time}}</strong></p>
<p><strong>{{openingtime}}</strong></p>
</section>


<section id="exhibition_text">


  {{ content | safe }}

</section>

<section class="slideshow">

<!-- Galerie -->

{%- for i in gallery -%}

<a href="/ausstellungen/{{slug}}/galerie/{{i[0]}}"><img class="slideshow__image" src="/assets/pics/{{i[0]}}_360px.jpg" alt="{{i[1]}}"/></a>

{%- endfor -%}


</section> 
