<!doctype html>
<html lang="de">
  <head>
    <base href="offgallery_at/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{teaser}}"/>
    <meta name="robots“ content="noindex, nofollow"/>
    <link rel="shortcut icon" href="/assets/pics/cropped-fav-1.jpg" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/base.css">
    <link rel="stylesheet" type="text/css" media="print" href="/assets/css/print.css">
    {% rollup "assets/js/components.js" | url %}
    <title>{{title}}</title>
  </head>
  <body>
   <header>
      {% include "nav.njk" %}
    </header>
<main>
    {{ content | safe }}
  </main>
  {% include "footer.njk" %}
  </body>
</html>
