<footer>

<ul>
  <li><a href="/allgemein/impressum" title="Impressum">Impressum</a></li>
  <li><a href="/allgemein/mitglied-werden" title="Über uns">Mitglied werden</a></li>
  <li><a href="mailto:info@offgallery.at">info@offgallery.at</a></li>
  </ul>

<ul id="subscribe">
<li><a href="http://eepurl.com/gvOSB5"><img src="/assets/svg/email.svg"/>Newsletter</a></li>
    <li><a href="https://www.instagram.com/off_graz/" title="Instagram"><img src="/assets/svg/instagram.svg"/>Instagram</a></li>
    <li><a href="https://www.facebook.com/offgallerygraz/" title="Facebook"><img src="/assets/svg/facebook.svg"/>Facebook</a></li>
    <li><a href="/feed.xml" title="RSS-Feed"><img src="/assets/svg/rss.svg"/>RSS</a></li>
    </ul>


</footer>
