<nav>
  <ul>
    <li>
      <a href="/"><img id="site_logo" src="/assets/svg/logo_offgallery.svg" alt="Logo der off_gallery">
      <span>off_gallery</span></a>
    </li>
    <li>
      <a href="/ausstellungen"><img src="/assets/svg/off_icon_ausstellungen.svg" class="nav_logo" alt="Icon: Ausstellungen">Archiv</a>
    </li>
    <li>
      <a href="/blog"><img src="/assets/svg/off_icon_news.svg" class="nav_logo" alt="Icon: News">Blog</a>
    </li> 
    <li>
      <a href="/allgemein/ueber_uns"><img src="/assets/svg/off_icon_wir.svg" class="nav_logo" alt="Icon: Über uns">
        Über die Galerie</a>
    </li>
  </ul>
</nav>
