---
pagination:
    data: gallery
    size: 1
    alias: galerie
permalink: "ausstellungen/wir-bauen-eine-stadt/galerie/{{galerie[0] | slug }}/"

layout: base.njk
changeFreq: yearly



---

{% include "gallery.njk" %}
